
body {
  background-color: green;
}
.container {
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
  padding:  2rem 2rem;
  background-color: yellow;
}
.slider {
  width: 100%;
  overflow-x: hidden;
  
}

.slides {
  display: flex;
  width: 400%;
  height: 60vh;

}

.slide {
  width: 25%;
  height: 100%;
  transition: all .5s ease;
}
.slide img {
  display: block;
  height: 100%;
  width: 100%;


}


[type="radio"] {
  visibility: hidden;
}

label {
  margin: 0 0.2rem;
  cursor: pointer;
  padding: 0.5rem;
}
.controls {
  margin-top: 3rem;
  display: flex;
}
.control__btn {
  width: 1rem;
  height: 0.3rem;
  background-color: black;
}

#slide-1:checked ~ .slides .first {
  margin-left: 0;
}
#slide-2:checked ~ .slides .first {
  margin-left: -25%;
}
#slide-3:checked ~ .slides .first {
  margin-left: -50%;
}
#slide-4:checked ~ .slides .first {
  margin-left: -75%;
}
